<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.designlabs.instimap"
    android:installLocation="auto"
    android:versionCode="16"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />
    
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mrane.campusmap.MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="com.mrane.campusmap.PARENT_ACTIVITY"
                android:value="com.mrane.campusmap.MapActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mrane.campusmap.SettingsActivity"
            android:label="@string/activity_name_settings" >
        </activity>
    </application>

</manifest>